<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82299332061-e7kt919uqs2tfoj2ig72rsgqrujh1bl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82299332061-e7kt919uqs2tfoj2ig72rsgqrujh1bl2</string>
	<key>API_KEY</key>
	<string>AIzaSyCg6u0AFZ28pBKOCXhL95EN6ct1Bto5hgg</string>
	<key>GCM_SENDER_ID</key>
	<string>82299332061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>freecode.pythonanywhere.www.ToDoListApp</string>
	<key>PROJECT_ID</key>
	<string>todolistapp-5bfe5</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistapp-5bfe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82299332061:ios:17cf552ef2e74cff2a8234</string>
</dict>
</plist>